@import "vars";
@mixin basics {
    a {
        color: black;
        text-decoration: $none;
        text-decoration: $none;
    }
    li {
        list-style-type: $none;
        text-decoration: $none;
    }
}
@mixin header-l() {
    &--nav{
        align-items: $center;
    }
}
@mixin scale($bg-color) {
    transform: scale(1.1);
    box-shadow:0 7px 7px 2px rgba(0,0,0,0.5);
    background: $bg-color;
    border: 1px solid #d0e1f9;
    transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
@mixin nav-items() {
    width: $hundred - 80;
    text-align: $center;
    height:$hundredpx - 50;
    font-size:$hundredpx - 80;
    display: $flex;
    align-items: $center;
    justify-content: $center;
    cursor: pointer;
}
@mixin header-s($bg-color,$fg-color) {
     &--nav{
         background:$bg-color ;
         height: $hundredpx - 50;
         box-shadow: $hundredpx - 95 $hundredpx - 95 $hundredpx - 95 rgba(0,0,0,0.5);
         text-align: $center;
         &--name{
             border: 2px $solid #d0e1f9;
             font-size:1.5vw;
             display: $flex;
             align-items: $center;
             justify-content: $center;
             font-weight:$bold;
             height:$hundredpx - 50;
             width: $hundred - 83;
             margin-right: $hundred - 97;
             text-align: $center;
             letter-spacing: $hundredpx - 98;
         }
         &--intro{
            @include nav-items();
        }
        &--information{
            @include nav-items();
        }
        &--skills{
            @include nav-items();
        }
        &--projects{
            @include nav-items();
        }
         a{
            color: $fg-color;
            text-align: $center;
            font-family: $heading;
            
        }
         .scale-intro{
            @include scale($bg-color);
         }
         .scale-info{
            @include scale($bg-color);
         }
         .scale-skills{
            @include scale($bg-color);
         }
         .scale-projects{
            @include scale($bg-color);
         }
     }
}
@mixin header-r(){
    @media screen and(max-width:800px) {
        &--nav{
            a{

               
           }
            .scale-intro{
    
            }
            .scale-info{
    
            }
            .scale-skills{
    
            }
            .scale-projects{
    
            }
        }
    }
    
}
@mixin intro-l() {
    &--container{
        text-align: $center;
        align-items: $center;
        justify-content: $center;
        &--social-network{
            justify-content: $center;
            align-items: $center;
            &--nav{
                justify-content: $center;
                align-items: $center;
                li{
                    display: $flex;
                    align-items: $center;
                    justify-content: $center;
                }
            }
        }
    }
}
@mixin s-cards($fg-card) {
    margin:$hundred - 98;
    width: $hundredpx + 80;
    height: $hundredpx + 80;
    border-radius: $hundred;
    transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
    &:hover{
        border: 2px solid #d0e1f9;
        transform: scale(1.1);
        box-shadow:10px 10px 15px rgba(0,0,0,0.5);
        a{
            transform: scale(1.1);
            text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
        }
    }
    a{
        color: $fg-card;
        font-size:$hundredpx - 40;
    }
}
@mixin intro-s($bg-color,$fg-color,$bg-card,$fg-card,$github-bg,$twitter-bg,$gitlab-bg,$gitlab-fg,$gmail-bg) {
    padding-bottom: $hundredpx - 25; 
    &--container{
        height: $hundredpx * 8 + 50;
        background: $bg-color;
        margin-bottom: $hundredpx;
        &--title{
            color:$fg-color;
            text-shadow: 0 -3px 0 #333,
                    0 6px 8px rgba(0,0,0,.4),
                    0 9px 10px rgba(0,0,0,.15),
                    0 30px 10px rgba(0,0,0,.18),
                    0 15px 10px rgba(0,0,0,.21);
                    font-size: $hundredpx - 50;
                    font-family: $body;
                    padding: $hundredpx - 20 0;
        }
        &--social-network{
            width: $hundred;
            &--nav{
                padding: $hundredpx - 90;
                &--github{
                    background:$github-bg;
                    @include s-cards($fg-card);
                }
                &--twitter{
                    background:$twitter-bg;
                    @include s-cards($fg-card);
                }
                &--gitlab{
                    background:$gitlab-bg;
                    @include s-cards($gitlab-fg);
                }
                &--phone{
                    background: $bg-card;
                    @include s-cards($fg-card);
                }
                &--gmail{
                    background: $gmail-bg;
                    @include s-cards($fg-card);
                }
            }
        }
    }
}
@mixin intro-r-800() {
    width: $hundredpx + 50;
    height: $hundredpx + 50;
    i{
        font-size: $hundredpx - 40;
    }
}
@mixin intro-r() {
    @media screen and(max-width:800px) {
        padding-bottom: $hundredpx - 80; 
        &--container{
            height: $hundredpx * 8;
            &--title{
            font-size: $hundredpx - 60;
            }
            &--social-network{
                width: $hundred;
                &--nav{
                    padding: $hundredpx - 90;
                    &--github{
                        @include intro-r-800();
                    }
                    &--twitter{
                        @include intro-r-800();
                    }
                    &--gitlab{
                        @include intro-r-800();
                    }
                    &--phone{
                        @include intro-r-800();
                    }
                    &--gmail{
                        @include intro-r-800();
                    }
                }
            }
        }
    }
}
@mixin information-l() {
    padding: $hundredpx - 45 0px;
    &--title{
        display: $flex;
        justify-content: $start;
        margin-left: $hundredpx - 15;
    }
    &--container{
        align-items: $center;
        justify-content: $center;
    }
}
@mixin information-s($color) {
    &--title{
        font-family: $heading;
        font-size: $hundredpx - 70;
        font-weight: $bolder;
        color:$color;
    }
    &--container{
        img{
            width: $hundredpx * 2 + 40;
            height: $hundredpx * 2 + 40;
            border-radius: $hundredpx - 95;
        }
        p{
           width: 65ch;
           padding: $hundredpx - 50;
           font-family: $body;
           font-size: $hundredpx - 83;
           font-weight: $bold;
           color: $color;
           line-height: 2;
           word-spacing: $hundredpx - 97;
        }
    }
}
@mixin information-r() {
    @media screen and(max-width:800px) {
        padding: $hundredpx - 100 0px;
        &--title{
            font-size: $hundredpx - 70;
            margin: 0px;
        }
        &--container{
            flex-direction: column;
            justify-content: $start;
            align-items: $start;
            img{
                width: $hundred;
                height: $hundredpx * 2 + 40;
                border-radius: $hundredpx - 95;
            }
            p{
               width: 50ch;
               padding: $hundredpx - 50 $hundredpx - 100;
               font-size: $hundredpx - 83;
               line-height: 1.8;
            }
        }   
    }
}
@mixin skills-l() {
    padding:$hundredpx - 45 0px;
    &--container{
        ul{
            padding: 0px;
            li{
                width: $hundred - 87.5;
                text-align: $center;
            }
        }
        &--content{
            align-items: $center;
            justify-content: $center;
        }
    }
}
#clicked{
    transform: scale(1.15);
    box-shadow: 0 10px 6px -6px #777;
    border: 1px solid #d0e1f9;
}
@mixin skills-s($fg-color,$color,$color2) {
&--container{
    &--title{
        font-size:$hundredpx - 70;
        font-family: $heading;
        color:$fg-color;
        padding-bottom: $hundredpx - 75;
        font-weight: $bolder;
    }
    &--nav{
        margin: $hundredpx - 75 0;
        &--html{
            border-top-left-radius: $hundredpx - 90;
            border-bottom-left-radius: $hundredpx - 90;
        }
        li{
            background:$fg-color;
            padding: $hundredpx - 90 0;
            transition: transform 500ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
            border: 1px $solid $fg-color;
            border-right: 1px $solid $color;
            a{
                color: $color;
                font-family: $heading;
                font-size: 1.5vw;
                font-weight: $bold;
            }
        }
        &--git{
            border-top-right-radius: $hundredpx - 90;
            border-bottom-right-radius: $hundredpx - 90;
        }
    }
    &--content{
        padding: $hundredpx - 75 0;
        height: $hundredpx * 2;
        font-size:$hundredpx - 83;
        font-family: $body;
        line-height: 2;
        font-weight: $bold;
        width: $hundred;
        p{
            width: 60ch;
            animation: zoomIn 800ms forwards;
            @keyframes zoomIn{
                0% {
                   opacity: 0;
                   transform-origin: 50% 50%;
                   transform: scale(0,0);
                   filter: blur(2px);
                }
                100% {
                    opacity: 1;
                    transform-origin: 50% 50%;
                    transform: scale(1,1);
                    filter: blur(0px);
                }
             }
        }
    }
    &--my-resume{
        font-size: $hundredpx - 70;
        font-family: $heading;
        color:$fg-color;
        padding-bottom: $hundredpx - 75;
        font-weight: $bolder;
    }
    &--download{
        background: $color2;
        border: 5px solid $fg-color;
        padding: $hundredpx - 85;
        color: $fg-color;
        font-size: 1.2vw;
        color: $color;
        border-radius: $hundredpx - 90;
        font-family: $heading;
        letter-spacing: $hundredpx - 98;
        &:hover{
             color: $color;
             text-decoration: $none;
             animation: chage-fg 300ms forwards;
             @keyframes chage-fg {
                 0%{
                    color:$color;
                    background: $color2; 
                    transform: scale(1);
                 }
                 100%{
                    color:$color2;
                    background:  $color;
                    font-weight: $bolder;
                    box-shadow: $hundredpx - 92 $hundredpx - 92 $hundredpx - 92 rgba(0,0,0,.5);
                    transform: scale(1.1);
                 }
             }
        }
    }
}
}
@mixin skills-r() {
    @media screen and(max-width:800px){
        padding:$hundredpx - 75 0px;
        .nav-link{
            padding: 0px;
        }
        &--container{
            &--content{
                padding: $hundredpx - 75 0;
                height: $hundredpx * 2;
                font-size:$hundredpx - 86;
                line-height: 2;
                p{
                    width: 50ch;
                }
            }
        }
    }
}
@mixin projects-l() {
    padding:$hundredpx - 45 0px;
    &--container{
        &--first-project{
          i{
            position: $relative;
            bottom: $hundredpx - 25;
          }
        }
        &--second-project{
            i{
              position: $relative;
              bottom: $hundredpx - 25;
            }
        }
    }
}
@mixin projects-s($fg-color,$color,$des-color) {
    &--title{
        font-size: $hundredpx - 70;
        font-family: $heading;
        color:$fg-color;
        padding-bottom: $hundredpx - 75;
        font-weight: $bolder;
    }
    &--container{
        a{
            text-decoration: $none;
        }
        img{
            width: 400px;
            height: 300px;
            border-radius: $hundredpx - 90;
        }
        &--first-project{
            i{
                color: $des-color;
                text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
                font-size: 2vw;
                visibility: $hidden;
                transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }
           &:hover{
               i{
                   visibility: $visible;
                   transform: scale(1.5);
               }
           }
        }
        &--second-project{
            i{
                color: $des-color;
                text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
                font-size: 2vw;
                visibility: $hidden;
                transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }
           &:hover{
               i{
                   visibility: $visible;
                   transform: scale(1.5);
               }
           }
        }
      }
}
@mixin projects-r() {
        @media screen and(max-width:800px){
            padding:$hundredpx - 75 0px;
            &--container{
                img{
                    width: 300px;
                    height: 200px;
                    border-radius: $hundredpx - 90;
                }
              }
        }
}