@import "vars";
@mixin basics {
    a {
        color: black;
        text-decoration: $none;
    }
    li {
        list-style-type: $none;
        text-decoration: $none;
    }
}
@mixin header-l() {
    &--nav{
        align-items: $center;
    }
}
@mixin scale($bg-color) {
    transform: scale(1.1);
    box-shadow:0 7px 7px 2px rgba(0,0,0,0.5);
    background: $bg-color;
    border: 1px solid #d0e1f9;
    transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
@mixin header-s($bg-color,$fg-color) {
     &--nav{
         background:$bg-color ;
         height: $hundredpx - 50;
         box-shadow: $hundredpx - 95 $hundredpx - 95 $hundredpx - 95 rgba(0,0,0,0.5);
         text-align: $center;
         &--name{
             border: 2px $solid #d0e1f9;
             font-size:1.5vw;
             display: $flex;
             align-items: $center;
             justify-content: $center;
             font-weight:$bold;
             height:$hundredpx - 50;
             width: $hundred - 83;
             margin-right: $hundred - 97;
             text-align: $center;
             letter-spacing: $hundredpx - 98;
         }
         &--intro{
            width: $hundred - 80;
            text-align: $center;
            height:$hundredpx - 50;
            font-size:1.2vw;
            display: $flex;
             align-items: $center;
             justify-content: $center;
        }
        &--information{
            width: $hundred - 80;
            text-align: $center;
            height:$hundredpx - 50;
            font-size:1.2vw;
            display: $flex;
             align-items: $center;
             justify-content: $center;
        }
        &--skills{
            width: $hundred - 80;
            text-align: $center;
            height:$hundredpx - 50;
            font-size:1.2vw;
            display: $flex;
             align-items: $center;
             justify-content: $center;
        }
        &--projects{
            width: $hundred - 80;
            text-align: $center;
            height:$hundredpx - 50;
            font-size:1.2vw;
            display: $flex;
             align-items: $center;
             justify-content: $center;
        }
         a{
            color: $fg-color;
            text-align: $center;
            font-family: $heading;
            
        }
         .scale-intro{
            @include scale($bg-color);
         }
         .scale-info{
            @include scale($bg-color);
         }
         .scale-skills{
            @include scale($bg-color);
         }
         .scale-projects{
            @include scale($bg-color);
         }
     }
}
@mixin intro-l() {
    &--container{
        text-align: $center;
        align-items: $center;
        justify-content: $center;
    }
}
@mixin intro-s($bg-color,$fg-color,$bg-card,$fg-card) {
    &--container{
        height: $hundredpx * 8;
        background: $bg-color;
        &--title{
            color:$fg-color;
            text-shadow: 0 -3px 0 #333,
                    0 6px 8px rgba(0,0,0,.4),
                    0 9px 10px rgba(0,0,0,.15),
                    0 30px 10px rgba(0,0,0,.18),
                    0 15px 10px rgba(0,0,0,.21);
                    font-size: $hundredpx - 50;
                    font-family: $body;
                    padding: 80px 0;
        }
        &--social-network{
            width: $hundred;
            justify-content: $center;
            align-items: $center;
            &--nav{
                justify-content: $center;
                align-items: $center;
                padding: 10px;
                &--github{
                    background:#24292E;
                    display: $flex;
                    align-items: $center;
                    justify-content: $center;
                    margin:$hundred - 98;
                    width: 12vw;
                    height: 12vw;
                    border-radius: $hundred;
                    a{
                        color: $fg-card;
                        font-size: 3.5vw;
                        i{

                        }
                    }
                }
                &--twitter{
                    background: #1DA1F2;
                    display: $flex;
                    align-items: $center;
                    justify-content: $center;
                    margin:$hundred - 98;
                    width: 12vw;
                    height: 12vw;
                    border-radius: $hundred;
                    a{
                        color: $fg-card;
                        font-size: 3.5vw;
                        i{

                        }
                    }
                }
                &--gitlab{
                    background: #292961;
                    display: $flex;
                    align-items: $center;
                    justify-content: $center;
                    margin:$hundred - 98;
                    width: 12vw;
                    height: 12vw;
                    border-radius: $hundred;
                    a{
                        color: #E34329;
                        font-size: 3.5vw;
                        i{

                        }
                    }
                }
                &--phone{
                    background: $bg-card;
                    display: $flex;
                    align-items: $center;
                    justify-content: $center;
                    margin:$hundred - 98;
                    width: 12vw;
                    height: 12vw;
                    border-radius: $hundred;
                    a{
                        color: $fg-card;
                        font-size: 3.5vw;
                        i{

                        }
                    }
                }
                &--gmail{
                    background: #DD5347;
                    display: $flex;
                    align-items: $center;
                    justify-content: $center;
                    margin:$hundred - 98;
                    width: 12vw;
                    height: 12vw;
                    border-radius: $hundred;
                    a{
                        color: $fg-card;
                        font-size: 3.5vw;
                        i{

                        }
                    }
                }
            }
        }
    }
}
@mixin information-l() {
    padding: 100px 0px;
    &--container{
        align-items: $center;
        justify-content: $center;
        img{
            width: 100px;
        }
        p{
           
        }
    }
}
@mixin information-s() {
    
}
@mixin skills-l() {
    &--container{
        ul{
            width: 100%;
            padding: 0px;
            li{
                width: 12.5%;
                text-align: center;
            }
        }
    }
}
@mixin skills-s() {

}
@mixin projects-l() {
    &--container{
      
    }
}
@mixin projects-s() {

}
@mixin social-network-l() {
}
@mixin social-network-s() {

}