@import "vars";
@mixin basics {
    a {
        color: black;
        text-decoration: $none;
        text-decoration: $none;
    }
    li {
        list-style-type: $none;
        text-decoration: $none;
    }
}
@mixin header-l() {
    &--nav{
        align-items: $center;
    }
}
@mixin scale($bg-color) {
    transform: scale(1.1);
    box-shadow:0 7px 7px 2px rgba(0,0,0,0.5);
    background: $bg-color;
    border: 1px solid #d0e1f9;
    transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
@mixin scale-r() {
    transform: scale(1.05);
    box-shadow:0 7px 7px 2px rgba(0,0,0,0.5);
    border: 1px solid #d0e1f9;
    transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
    height: $hundredpx - 65;
}
@mixin nav-items() {
    width: 20%;
    text-align: $center;
    height:$hundredpx - 50;
    font-size:1.5vw;
    display: $flex;
    align-items: $center;
    justify-content: $center;
    cursor: pointer;
}
@mixin header-s($bg-color,$fg-color) {
     &--nav{
         background:$bg-color ;
         height: $hundredpx - 50;
         box-shadow: $hundredpx - 95 $hundredpx - 95 $hundredpx - 95 rgba(0,0,0,0.5);
         text-align: $center;
         &--intro{
            @include nav-items();
        }
        &--information{
            @include nav-items();
        }
        &--skills{
            @include nav-items();
        }
        &--projects{
            @include nav-items();
        }
         a{
            color: $fg-color;
            text-align: $center;
            font-family: $heading;
            &:hover{
                color: $fg-color;
            }
        }
         .scale-intro{
            @include scale($bg-color);
         }
         .scale-info{
            @include scale($bg-color);
         }
         .scale-skills{
            @include scale($bg-color);
         }
         .scale-projects{
            @include scale($bg-color);
         }
     }
}
@mixin header-r(){
@media screen and(max-width:600px){
    &--nav{
        height: $hundredpx - 70;
        li{
            a{
                font-size: 2.5vw;
            }
        }
       .scale-intro{
           @include scale-r();
        }
        .scale-info{
           @include scale-r();
        }
        .scale-skills{
           @include scale-r();
        }
        .scale-projects{
           @include scale-r();
        }
    }   
}
}
@mixin intro-l() {
    &--container{
        text-align: $center;
        align-items: $center;
        justify-content: $center;
        &--social-network{
            justify-content: $center;
            align-items: $center;
            &--nav{
                justify-content: $center;
                align-items: $center;
                li{
                    display: $flex;
                    align-items: $center;
                    justify-content: $center;
                }
            }
        }
    }
}
@mixin s-cards($fg-card) {
    margin:$hundred - 98;
    width: $hundredpx + 80;
    height: $hundredpx + 80;
    border-radius: $hundred;
    transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
    &:hover{
        border: 2px solid #d0e1f9;
        transform: scale(1.1);
        box-shadow:10px 10px 15px rgba(0,0,0,0.5);
        a{
            transform: scale(1.1);
            text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
            &:hover{
                color: $fg-card;
            }
        }
    }
    a{
        color: $fg-card;
        font-size:$hundredpx - 40;
    }
}
@mixin intro-s($bg-color,$fg-color,$bg-card,$fg-card,$github-bg,$twitter-bg,$gitlab-bg,$gitlab-fg,$gmail-bg) {
    padding-bottom: $hundredpx - 25; 
    &--bg{
        width: 100%;
        position: absolute;
        z-index: -2;
        height: $hundredpx * 8 + 50;
        filter: blur(5px);
    }
    &--container{
        height: $hundredpx * 8 + 50;
        margin-bottom: $hundredpx;
        &--title{
            color:$fg-color;
            text-shadow: 0 -3px 0 #333,
                    0 6px 8px rgba(0,0,0,.4),
                    0 9px 10px rgba(0,0,0,.15),
                    0 30px 10px rgba(0,0,0,.18),
                    0 15px 10px rgba(0,0,0,.21);
                    font-size: $hundredpx - 50;
                    font-family: $body;
                    padding: $hundredpx - 20 0;
        }
        &--social-network{
            width: $hundred;
            &--nav{
                padding: $hundredpx - 90;
                &--github{
                    background:$github-bg;
                    @include s-cards($fg-card);
                }
                &--twitter{
                    background:$twitter-bg;
                    @include s-cards($fg-card);
                }
                &--gitlab{
                    background:$gitlab-bg;
                    @include s-cards($gitlab-fg);
                }
                &--phone{
                    background: $bg-card;
                    @include s-cards($fg-card);
                }
                &--gmail{
                    background: $gmail-bg;
                    @include s-cards($fg-card);
                }
            }
        }
    }
}
@mixin intro-r-800() {
    width: $hundredpx + 50;
    height: $hundredpx + 50;
    i{
        font-size: $hundredpx - 40;
    }
}
@mixin intro-r-600() {
    width: $hundredpx + 30;
    height: $hundredpx + 30;
    i{
        font-size: $hundredpx - 50;
    }
}
@mixin intro-r-450() {
    width: $hundredpx + 15;
    height: $hundredpx + 15;
    i{
        font-size: $hundredpx - 60;
        display: $flex;
        text-align: $center;
        align-self: $center;
    }
}
@mixin intro-r() {
    @media screen and(max-width:1024px) {
        padding-bottom: $hundredpx; 
    }
    @media screen and(max-width:800px) {
        padding-bottom: $hundredpx - 100; 
        &--container{
            height: $hundredpx * 8;
            &--title{
            font-size: $hundredpx - 60;
            }
            &--social-network{
                width: $hundred;
                &--nav{
                    padding: $hundredpx - 90;
                    &--github{
                        @include intro-r-800();
                    }
                    &--twitter{
                        @include intro-r-800();
                    }
                    &--gitlab{
                        @include intro-r-800();
                    }
                    &--phone{
                        @include intro-r-800();
                    }
                    &--gmail{
                        @include intro-r-800();
                    }
                }
            }
        }
    }
    @media screen and(max-width:600px){
        padding-bottom: $hundredpx - 50; 
        &--container{
            height: $hundredpx * 8;
            &--title{
            font-size: $hundredpx - 70;
            }
            &--social-network{
                width: $hundred;
                &--nav{
                    padding: $hundredpx - 90;
                    &--github{
                        @include intro-r-600();
                    }
                    &--twitter{
                        @include intro-r-600();
                    }
                    &--gitlab{
                        @include intro-r-600();
                    }
                    &--phone{
                        @include intro-r-600();
                    }
                    &--gmail{
                        @include intro-r-600();
                    }
                }
            }
        }
    }
    @media screen and(max-width:450px){
        padding-bottom: $hundredpx - 80; 
        &--container{
            height: $hundredpx * 8;
            &--title{
            font-size: $hundredpx - 80;
            text-shadow: 0 -2px 0 #333,
                    0 6px 8px rgba(0,0,0,.4),
                    0 9px 10px rgba(0,0,0,.15),
                    0 30px 10px rgba(0,0,0,.18),
                    0 15px 10px rgba(0,0,0,.21);
            }
            &--social-network{
                width: $hundred;
                &--nav{
                    padding: $hundredpx - 90;
                    &--github{
                        @include intro-r-450();
                    }
                    &--twitter{
                        @include intro-r-450();
                    }
                    &--gitlab{
                        @include intro-r-450();
                    }
                    &--phone{
                        @include intro-r-450();
                    }
                    &--gmail{
                        @include intro-r-450();
                    }
                }
            }
        }
    }
}
@mixin information-l() {
    padding: $hundredpx - 45 0px;
    &--title{
        display: $flex;
        justify-content: $start;
    }
    &--container{
        align-items: $center;
        justify-content: $start;
    }
}
@mixin information-s($color,$fg-color,$color2) {
    &--my-resume{
        font-size: $hundredpx - 70;
        font-family: $heading;
        color:$fg-color;
        padding-bottom: $hundredpx - 75;
        font-weight: $bolder;
        background: $color;
        padding-bottom: 100px;
        width: $hundred - 15;
        padding-left: $hundredpx;
    }
    &--download{
        background: $color2;
        border: 5px solid $color;
        padding: $hundredpx - 85;
        margin-left: $hundredpx;
        margin-top: -100px;
        color: $fg-color;
        font-size: 1.2vw;
        border-radius: $hundredpx - 90;
        font-family: $heading;
        letter-spacing: $hundredpx - 98;
        width: $hundredpx * 2;
        text-align: $center;
        transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        &:hover{
             color: $fg-color;
             text-decoration: $none;
             transform: scale(1.1);
        }
    }
    &--title{
        font-family: $heading;
        font-size: $hundredpx - 70;
        font-weight: $bolder;
        color:$fg-color;
        background:$color;
        margin-bottom: 0px;
        width: 300px;
        margin-bottom: -100px;
        padding-left: $hundredpx !important;
        padding-top: 25px;
        border-bottom: 2px solid #d0e1f9;
        position: relative;
        display: inline;
        padding-bottom: 15px;
    }
    &--container{
        background:$color;
        width: $hundred - 15;
        padding-left: $hundredpx;
        padding-top: 100px;
        img{
            width: $hundredpx * 2 + 40;
            height: $hundredpx * 2 + 40;
            border-radius: $hundredpx - 95;
        }
        p{
           width: 65ch;
           padding: $hundredpx - 50;
           font-family: $body;
           font-size: $hundredpx - 83;
           color: $fg-color;
           line-height: 2;
           word-spacing: $hundredpx - 97;
        }
    }
}
@mixin information-r() {
    @media screen and(max-width:800px) {
        padding: $hundredpx + 100 0px;
        &--title{
            font-size: $hundredpx - 70;
            margin: 0px;
        }
        &--container{
            flex-direction: column;
            justify-content: $start;
            align-items: $start;
            img{
                width: $hundred;
                height: $hundredpx * 2 + 40;
                border-radius: $hundredpx - 95;
            }
            p{
               width: 60ch;
               padding: $hundredpx - 50 $hundredpx - 100;
               font-size: $hundredpx - 86;
               line-height: 1.8;
            }
        }   
    }
    @media screen and(max-width:600px) {
        padding: $hundredpx - 10 0px;
        &--title{
            font-size: 5vw;
            margin: $hundredpx - 85;
        }
        &--container{
            flex-direction: column;
            justify-content: $center;
            align-items: $center;
            img{
                width: $hundredpx + 50;
                height: $hundredpx + 50;
                border-radius: $hundredpx ;
            }
            p{
               width: 45ch;
               font-size: 3vw;
            }
        }   
    }
}
@mixin skills-l() {
    padding:$hundredpx - 45 0px;
    &--container{
        ul{
            padding: 0px;
            li{
                width: $hundred - 87.5;
                text-align: $center;
            }
        }
        &--content{
            justify-content: $center;
            margin-top:$hundredpx - 50;
        }
    }
}
#clicked{
    transform: scale(1.15);
    box-shadow: 0 10px 6px -6px #777;
    border: 1px solid #d0e1f9;
}
@mixin skills-s($fg-color,$color,$color2) {
&--container{
    &--title{
        font-size:$hundredpx - 70;
        font-family: $heading;
        color:$fg-color;
        font-weight: $bolder;
    }
    &--nav{
        &--html{
            border-top-left-radius: $hundredpx - 90;
            border-bottom-left-radius: $hundredpx - 90;
        }
        li{
            background:$fg-color;
            padding: $hundredpx - 90 0;
            transition: transform 500ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
            border: 1px $solid $fg-color;
            border-right: 1px $solid $color;
            &:last-child{
                border-right: 0px solid black ;
            }
            cursor: pointer;
            a{
                color: $color;
                font-family: $heading;
                font-size: 1.5vw;
                font-weight: $bold;
            }
        }
        &--git{
            border-top-right-radius: $hundredpx - 90;
            border-bottom-right-radius: $hundredpx - 90;
        }
    }
    &--content{
        font-size:$hundredpx - 83;
        font-family: $body;
        line-height: 2;
        font-weight: $bold;
        width: $hundred;
        p{
            width: 60ch;
            animation: zoomIn 800ms forwards;
            @keyframes zoomIn{
                0% {
                   opacity: 0;
                   transform-origin: 50% 50%;
                   transform: scale(0,0);
                   filter: blur(2px);
                }
                100% {
                    opacity: 1;
                    transform-origin: 50% 50%;
                    transform: scale(1,1);
                    filter: blur(0px);
                }
             }
        }
    }
}
}
@mixin skills-r() {
    @media screen and(max-width:1024px){
        padding:$hundredpx + 100 0px;
    }
    @media screen and(max-width:800px){
        padding:$hundredpx - 75 0px;
        .nav-link{
            padding: 0px;
        }
        &--container{
            &--content{
                padding: $hundredpx - 75 0;
                height: $hundredpx * 2;
                font-size:$hundredpx - 86;
                line-height: 2;
                p{
                    width: 50ch;
                }
            }
        }
    }
    @media screen and(max-width:600px){
        padding:$hundredpx - 65 0px;
        .nav-link{
            padding: 0px;
        }
        &--container{
            &--my-resume{
                font-size: 4vw;
                padding-bottom: $hundredpx - 75;
                margin: {
                    left: $auto;
                    right: $auto;
                }
            }
            &--download{
                font-size: 2.2vw;
                border-width: 2px;
                margin: {
                    left: $auto;
                    right: $auto;
                }
            }
            &--title{
                font-size: 4vw;
            }
            &--content{
                padding: $hundredpx - 75 0;
                height: $hundredpx;
                font-size:2vw;
                line-height: 2;
                p{
                    width: 55ch;
                }
            }
        }
    }
}
@mixin projects-l() {
    padding:$hundredpx - 45 0px;
    &--container{
        &--first-project{
          i{
            position: $relative;
            bottom: $hundredpx - 25;
          }
        }
        &--second-project{
            i{
              position: $relative;
              bottom: $hundredpx - 25;
            }
        }
    }
}
@mixin projects-s($fg-color,$color,$des-color) {
    &--title{
        font-size: $hundredpx - 70;
        font-family: $heading;
        color:$fg-color;
        padding-bottom: $hundredpx - 75;
        font-weight: $bolder;
    }
    &--container{
        a{
            text-decoration: $none;
            &:hover{
                color: $des-color;
                text-decoration: none;
            }
        }
        img{
            width: 400px;
            height: 300px;
            border-radius: $hundredpx - 90;
        }
        &--first-project{
            i{
                color: $des-color;
                text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
                font-size: 2vw;
                visibility: $hidden;
                transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }
           &:hover{
               i{
                   visibility: $visible;
                   transform: scale(1.5);
               }
           }
        }
        &--second-project{
            i{
                color: $des-color;
                text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
                font-size: 2vw;
                visibility: $hidden;
                transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }
           &:hover{
               i{
                   visibility: $visible;
                   transform: scale(1.5);
               }
           }
        }
      }
}
@mixin projects-r() {
    @media screen and(max-width:10240px){
        padding:$hundredpx + 100 0px;
    }
        @media screen and(max-width:800px){
            padding:$hundredpx + 100 0px;
            &--container{
                img{
                    width: 300px;
                    height: 200px;
                    border-radius: $hundredpx - 90;
                }
              }
        }
        @media screen and(max-width:600px){
            padding:$hundredpx + 20 0px;
            &--title{
                font-size: 3.5vw;
                padding: $hundredpx - 85;
            }
            a{
                width: $hundred;
                height: $hundredpx * 2;
                margin: $hundredpx - 80 0;
            }
            &--container{
                img{
                    width: $hundred - 50;
                    height: $hundredpx * 2;
                    border-radius: $hundredpx - 90;
                }
              }
        }
}