@import "vars";
@mixin basics {
    a {
        color: black;
        text-decoration: $none;
    }
    li {
        list-style-type: $none;
        text-decoration: $none;
    }
}
@mixin header-l() {
    &--nav{
        align-items: $center;
        li{
            width: $hundred - 80;
            text-align: $center;
        }
    }
}
@mixin header-s() {
     &--nav{
         background: #283655;
         height: 50px;
         box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
     }
     li{
         a{
             color: #f1f1f2;
             text-align: $center;
         }
     }
}
@mixin intro-l() {
    &--container{
        text-align: $center;
        align-items: $center;
        justify-content: $center;
    }
}
@mixin intro-s() {
    &--container{
        height: $hundredpx * 5;
        background: #1e1f26;
        p{
            color: #d0e1f9;
        }
    }
}
@mixin information-l() {
    padding: 100px 0px;
    &--container{
        align-items: $center;
        justify-content: $center;
        img{
            width: 100px;
        }
        p{
           
        }
    }
}
@mixin information-s() {
    
}
@mixin skills-l() {
    &--container{
        ul{
            width: 100%;
            padding: 0px;
            li{
                width: 12.5%;
                text-align: center;
            }
        }
    }
}
@mixin skills-s() {

}
@mixin projects-l() {
    &--container{
      
    }
}
@mixin projects-s() {

}
@mixin social-network-l() {
}
@mixin social-network-s() {

}