$heading:'Inconsolata', monospace;
$body:'Montserrat', sans-serif;
$intro:'Chewy', cursive;
$center:center;
$start:start;
$end:end;
$hundredpx:100px;
$hundred:100%;
$none:none;
$bold:bold;
$bolder:bolder;
$flex:flex;
$relative:relative;
$solid:solid;
$hidden:hidden;
$visible:visible;