@import "vars";
@import "layout";
@import "mixins";
@import "basics";
.app{
    &--home{
        &--header{
            @include header-s(#283655,#f1f1f2);
            @include header-r();
        }
        &--intro{
            @include intro-s(#1e1f26,#d0e1f9,#283655,#f1f1f2,#24292E,#1DA1F2,#292961,#E34329,#DD5347);
            @include intro-r();
        }
        &--information{
            @include information-s(#1e1f26);
            @include information-r();
        }
        &--skills{
            @include skills-s(#1e1f26,#d0e1f9,#283655);
            @include skills-r();
        }
        &--projects{
            @include projects-s(#1e1f26,#d0e1f9,#283655);
            @include projects-r();
        }
    }
}
